wsdl/km.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://tempuri.org">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
            <s:element name="cancelarPedido">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="pRequest" type="s0:cancelarPedidoReq"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="cancelarPedidoReq">
                <s:complexContent>
                    <s:extension base="s0:Ens_Request">
                        <s:sequence>
                            <s:element minOccurs="0" name="CPF" type="s:long"/>
                            <s:element minOccurs="0" name="CodigoRequisicao" type="s:string"/>
                            <s:element minOccurs="0" name="Requisitante" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Request">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Messagebody"/>
            <s:element name="cancelarPedidoResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="cancelarPedidoResult" type="s0:cancelarPedidoResp"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="cancelarPedidoResp">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="codigoRetorno" type="s:string"/>
                            <s:element minOccurs="0" name="mensagemRetorno">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="200"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Response">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:element name="gerarPedidoAcumulo">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="pRequest" type="s0:gerarPedidoAcumuloReq"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="gerarPedidoAcumuloReq">
                <s:complexContent>
                    <s:extension base="s0:Ens_Request">
                        <s:sequence>
                            <s:element minOccurs="0" name="Requisitante" type="s:string"/>
                            <s:element minOccurs="0" name="CPF" type="s:long"/>
                            <s:element minOccurs="0" name="CodigoPedido" type="s:string"/>
                            <s:element minOccurs="0" name="Produto" type="s0:ArrayOfProdutoKMProdutoKM"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfProdutoKMProdutoKM">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="ProdutoKM" nillable="true" type="s0:ProdutoKM"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ProdutoKM">
                <s:sequence>
                    <s:element minOccurs="0" name="IdItem" type="s:long"/>
                    <s:element minOccurs="0" name="CodigoProduto" type="s:string"/>
                    <s:element minOccurs="0" name="Quantidade" type="s:long"/>
                    <s:element minOccurs="0" name="KM" type="s:decimal"/>
                    <s:element minOccurs="0" name="TipoAcumulo" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="gerarPedidoAcumuloResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="gerarPedidoAcumuloResult" type="s0:gerarPedidoAcumuloResp"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="gerarPedidoAcumuloResp">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="codigoRetorno" type="s:string"/>
                            <s:element minOccurs="0" name="mensagemRetorno">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="200"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="codigoRequisicao" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:element name="gerarPedidoCreditoCombustivel">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="pRequest" type="s0:gerarPedidoCreditoCombustivelReq"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="gerarPedidoCreditoCombustivelReq">
                <s:complexContent>
                    <s:extension base="s0:Ens_Request">
                        <s:sequence>
                            <s:element minOccurs="0" name="Requisitante" type="s:string"/>
                            <s:element minOccurs="0" name="CPF" type="s:long"/>
                            <s:element minOccurs="0" name="CodigoPedido" type="s:string"/>
                            <s:element minOccurs="0" name="Produto" type="s0:ArrayOfProdutoCombustivelProdutoCombustivel"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfProdutoCombustivelProdutoCombustivel">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="ProdutoCombustivel" nillable="true" type="s0:ProdutoCombustivel"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ProdutoCombustivel">
                <s:sequence>
                    <s:element minOccurs="0" name="IdItem" type="s:long"/>
                    <s:element minOccurs="0" name="CodigoProduto" type="s:string"/>
                    <s:element minOccurs="0" name="Quantidade" type="s:long"/>
                    <s:element minOccurs="0" name="Combustivel" type="s:decimal"/>
                    <s:element minOccurs="0" name="TipoAcumulo" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="gerarPedidoCreditoCombustivelResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="gerarPedidoCreditoCombustivelResult" type="s0:gerarPedidoCreditoCombustivelResp"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="gerarPedidoCreditoCombustivelResp">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="codigoRetorno" type="s:string"/>
                            <s:element minOccurs="0" name="mensagemRetorno">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="200"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="codigoRequisicao" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:element name="gerarPedidoResgate">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="pRequest" type="s0:gerarPedidoResgateReq"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="gerarPedidoResgateReq">
                <s:complexContent>
                    <s:extension base="s0:Ens_Request">
                        <s:sequence>
                            <s:element minOccurs="0" name="Requisitante" type="s:string"/>
                            <s:element minOccurs="0" name="CPF" type="s:long"/>
                            <s:element minOccurs="0" name="CodigoPedido" type="s:string"/>
                            <s:element minOccurs="0" name="Produto" type="s0:ArrayOfProdutoKMProdutoKM"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:element name="gerarPedidoResgateResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="gerarPedidoResgateResult" type="s0:gerarPedidoResgateResp"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="gerarPedidoResgateResp">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="codigoRetorno" type="s:string"/>
                            <s:element minOccurs="0" name="mensagemRetorno">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="200"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="codigoRequisicao" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
        </s:schema>
    </types>
    <message name="cancelarPedidoSoapIn">
        <part name="parameters" element="s0:cancelarPedido"/>
    </message>
    <message name="cancelarPedidoSoapOut">
        <part name="parameters" element="s0:cancelarPedidoResponse"/>
    </message>
    <message name="gerarPedidoAcumuloSoapIn">
        <part name="parameters" element="s0:gerarPedidoAcumulo"/>
    </message>
    <message name="gerarPedidoAcumuloSoapOut">
        <part name="parameters" element="s0:gerarPedidoAcumuloResponse"/>
    </message>
    <message name="gerarPedidoCreditoCombustivelSoapIn">
        <part name="parameters" element="s0:gerarPedidoCreditoCombustivel"/>
    </message>
    <message name="gerarPedidoCreditoCombustivelSoapOut">
        <part name="parameters" element="s0:gerarPedidoCreditoCombustivelResponse"/>
    </message>
    <message name="gerarPedidoResgateSoapIn">
        <part name="parameters" element="s0:gerarPedidoResgate"/>
    </message>
    <message name="gerarPedidoResgateSoapOut">
        <part name="parameters" element="s0:gerarPedidoResgateResponse"/>
    </message>
    <portType name="KmPedidoSoap">
        <operation name="cancelarPedido">
            <input message="s0:cancelarPedidoSoapIn"/>
            <output message="s0:cancelarPedidoSoapOut"/>
        </operation>
        <operation name="gerarPedidoAcumulo">
            <input message="s0:gerarPedidoAcumuloSoapIn"/>
            <output message="s0:gerarPedidoAcumuloSoapOut"/>
        </operation>
        <operation name="gerarPedidoCreditoCombustivel">
            <input message="s0:gerarPedidoCreditoCombustivelSoapIn"/>
            <output message="s0:gerarPedidoCreditoCombustivelSoapOut"/>
        </operation>
        <operation name="gerarPedidoResgate">
            <input message="s0:gerarPedidoResgateSoapIn"/>
            <output message="s0:gerarPedidoResgateSoapOut"/>
        </operation>
    </portType>
    <binding name="KmPedidoSoap" type="s0:KmPedidoSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="cancelarPedido">
            <soap:operation soapAction="http://tempuri.org/cbpi.bs.km.pedido.Service.cancelarPedido" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="gerarPedidoAcumulo">
            <soap:operation soapAction="http://tempuri.org/cbpi.bs.km.pedido.Service.gerarPedidoAcumulo" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="gerarPedidoCreditoCombustivel">
            <soap:operation soapAction="http://tempuri.org/cbpi.bs.km.pedido.Service.gerarPedidoCreditoCombustivel" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="gerarPedidoResgate">
            <soap:operation soapAction="http://tempuri.org/cbpi.bs.km.pedido.Service.gerarPedidoResgate" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="KmPedido">
        <port name="KmPedidoSoap" binding="s0:KmPedidoSoap">
            <soap:address location="http://eaidev:2010/csp/ensb2cws/cbpi.bs.km.pedido.Service.cls"/>
        </port>
    </service>
</definitions>