wsdl/pf.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://tempuri.org">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
            <s:element name="cadastrar">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="pRequest" type="s0:participantePFCadastrarReq"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="participantePFCadastrarReq">
                <s:complexContent>
                    <s:extension base="s0:Ens_Request">
                        <s:sequence>
                            <s:element name="idRequisitante">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="20"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element name="cpf" type="s:long"/>
                            <s:element name="nome">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="100"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="sobreNome">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="100"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="dataNascimento" type="s:dateTime"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Request">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Messagebody"/>
            <s:element name="cadastrarResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="cadastrarResult" type="s0:Response"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="Response">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="status" type="s:boolean"/>
                            <s:element minOccurs="0" name="msgErro">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="1024"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="statusMimetica" type="s:long"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Response">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:element name="consultar">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="pRequest" type="s0:participantePFConsultarReq"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="participantePFConsultarReq">
                <s:complexContent>
                    <s:extension base="s0:Ens_Request">
                        <s:sequence>
                            <s:element minOccurs="0" name="idRequisitante">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="20"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="listaCpf" type="s0:ArrayOfcpfPairOflistaCpfKeycpf"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfcpfPairOflistaCpfKeycpf">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="cpf" nillable="true" type="s0:PairOflistaCpfKeycpf"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PairOflistaCpfKeycpf">
                <s:complexContent>
                    <s:extension base="s0:cpf">
                        <s:attribute name="listaCpfKey" type="s:string" use="required"/>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="cpf">
                <s:sequence>
                    <s:element minOccurs="0" name="cpf" type="s:long"/>
                </s:sequence>
            </s:complexType>
            <s:element name="consultarResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="consultarResult" type="s0:participantePFConsultarResp"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="participantePFConsultarResp">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="status" type="s:boolean"/>
                            <s:element minOccurs="0" name="msgErro">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="1024"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="listaPessoaFisica" type="s0:ArrayOfpessoaFisicaPairOflistaPessoaFisicaKeypessoaFisica"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfpessoaFisicaPairOflistaPessoaFisicaKeypessoaFisica">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="pessoaFisica" nillable="true" type="s0:PairOflistaPessoaFisicaKeypessoaFisica"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PairOflistaPessoaFisicaKeypessoaFisica">
                <s:complexContent>
                    <s:extension base="s0:pessoaFisica">
                        <s:attribute name="listaPessoaFisicaKey" type="s:string" use="required"/>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="pessoaFisica">
                <s:sequence>
                    <s:element minOccurs="0" name="cpf" type="s:long"/>
                    <s:element minOccurs="0" name="nome">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="100"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="sobreNome">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="100"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="dataNascimento" type="s:dateTime"/>
                </s:sequence>
            </s:complexType>
            <s:element name="consultarDadosDetalhados">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="pRequest" type="s0:participantePFConsultarDadosDetalhadosReq"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="participantePFConsultarDadosDetalhadosReq">
                <s:complexContent>
                    <s:extension base="s0:Ens_Request">
                        <s:sequence>
                            <s:element minOccurs="0" name="requisitante" type="s:string"/>
                            <s:element minOccurs="0" name="cpf" type="s:long"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:element name="consultarDadosDetalhadosResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="consultarDadosDetalhadosResult" type="s0:participantePFConsultarDadosDetalhadosResp"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="participantePFConsultarDadosDetalhadosResp">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="status" type="s:long"/>
                            <s:element minOccurs="0" name="msgErro">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="1024"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="dadosDetalhadosPF" type="s0:dadosDetalhadosPF"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="dadosDetalhadosPF">
                <s:sequence>
                    <s:element minOccurs="0" name="cpf" type="s:long"/>
                    <s:element minOccurs="0" name="nome" type="s:string"/>
                    <s:element minOccurs="0" name="sobrenome" type="s:string"/>
                    <s:element minOccurs="0" name="sexo" type="s:string"/>
                    <s:element minOccurs="0" name="email" type="s:string"/>
                    <s:element minOccurs="0" name="dataNascimento" type="s:dateTime"/>
                    <s:element minOccurs="0" name="cep" type="s:string"/>
                    <s:element minOccurs="0" name="endereco" type="s:string"/>
                    <s:element minOccurs="0" name="numero" type="s:int"/>
                    <s:element minOccurs="0" name="complemento" type="s:string"/>
                    <s:element minOccurs="0" name="cidade" type="s:string"/>
                    <s:element minOccurs="0" name="estado" type="s:string"/>
                    <s:element minOccurs="0" name="dddtel" type="s:int"/>
                    <s:element minOccurs="0" name="telefone" type="s:string"/>
                    <s:element minOccurs="0" name="dddcel" type="s:int"/>
                    <s:element minOccurs="0" name="celular" type="s:string"/>
                    <s:element minOccurs="0" name="estadocivil" type="s:string"/>
                </s:sequence>
            </s:complexType>
        </s:schema>
    </types>
    <message name="cadastrarSoapIn">
        <part name="parameters" element="s0:cadastrar"/>
    </message>
    <message name="cadastrarSoapOut">
        <part name="parameters" element="s0:cadastrarResponse"/>
    </message>
    <message name="consultarSoapIn">
        <part name="parameters" element="s0:consultar"/>
    </message>
    <message name="consultarSoapOut">
        <part name="parameters" element="s0:consultarResponse"/>
    </message>
    <message name="consultarDadosDetalhadosSoapIn">
        <part name="parameters" element="s0:consultarDadosDetalhados"/>
    </message>
    <message name="consultarDadosDetalhadosSoapOut">
        <part name="parameters" element="s0:consultarDadosDetalhadosResponse"/>
    </message>
    <portType name="participantePFSoap">
        <operation name="cadastrar">
            <input message="s0:cadastrarSoapIn"/>
            <output message="s0:cadastrarSoapOut"/>
        </operation>
        <operation name="consultar">
            <input message="s0:consultarSoapIn"/>
            <output message="s0:consultarSoapOut"/>
        </operation>
        <operation name="consultarDadosDetalhados">
            <input message="s0:consultarDadosDetalhadosSoapIn"/>
            <output message="s0:consultarDadosDetalhadosSoapOut"/>
        </operation>
    </portType>
    <binding name="participantePFSoap" type="s0:participantePFSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="cadastrar">
            <soap:operation soapAction="http://tempuri.org/cbpi.bs.participantePF.Service.cadastrar" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="consultar">
            <soap:operation soapAction="http://tempuri.org/cbpi.bs.participantePF.Service.consultar" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="consultarDadosDetalhados">
            <soap:operation soapAction="http://tempuri.org/cbpi.bs.participantePF.Service.consultarDadosDetalhados" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="participantePF">
        <port name="participantePFSoap" binding="s0:participantePFSoap">
            <soap:address location="http://eaidev:2010/csp/ensb2cws/cbpi.bs.participantePF.Service.cls"/>
        </port>
    </service>
</definitions>